
/*************************************/
/*************** BASE ****************/
/*************************************/

html
{
	background: rgb(6,6,6);
  word-wrap: break-word;
}

body
{
	color: rgb(6,6,6);
	font-family: 'Exo', sans-serif;
	font-size: 2vmin;
	line-height: 1.1;
	text-align: justify;
}

a
{
	color: inherit;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

h1
{
	border-bottom: solid 1px transparent;
	border-image: linear-gradient(to right, transparent, rgb(80,0,0), transparent) 1;
	font-family: 'Exo 2', sans-serif;
	font-size: 4.2vmin;
	font-weight: 500;
	margin-bottom: 30px;
	padding: 5px 20px;
	text-shadow: 1px 1px 1px rgba(80,0,0,0.5);
}

h2
{
	color: rgb(80,0,0);
	font-size: 2vmin;
	font-weight: 500;
	margin-bottom: 20px;
}

hr
{
	border-bottom: solid 1px transparent;
	border-image: linear-gradient(to right, transparent, rgba(80,0,0,0.5), transparent) 1;
	box-sizing: border-box;
	margin: 20px auto;
	width: 100%;
}

p
{
	margin: 15px 0;
}

#D3Cube
{
	align-items: center;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	margin: auto;
	position: fixed;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	     -o-transform-style: preserve-3d;
			transform-style: preserve-3d;
  -webkit-transition: transform 3s ease-in-out;
     -moz-transition: transform 3s ease-in-out;
       -o-transition: transform 3s ease-in-out;
  	      transition: transform 3s ease-in-out;
	transform: rotate3d(1,0,0,-90deg);
	width: 100%;
}

.sides
{
	align-items: center;
	background-color: white;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
					backface-visibility: hidden;
	border: solid 3px #eee;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	padding: 5%;
  position: absolute;
	-webkit-transition: background-color 2s ease-in-out, border 2s ease-in-out;
	   -moz-transition: background-color 2s ease-in-out, border 2s ease-in-out;
	     -o-transition: background-color 2s ease-in-out, border 2s ease-in-out;
					transition: background-color 2s ease-in-out, border 2s ease-in-out;
}

#side1
{
  -webkit-transform: rotateX(90deg) translateZ(200px);
	   -moz-transform: rotateX(90deg) translateZ(200px);
	    -ms-transform: rotateX(90deg) translateZ(200px);
	     -o-transform: rotateX(90deg) translateZ(200px);
			    transform: rotateX(90deg) translateZ(200px);
}

#side2
{
  -webkit-transform: rotateY(180deg) translateZ(200px);
	   -moz-transform: rotateY(180deg) translateZ(200px);
	    -ms-transform: rotateY(180deg) translateZ(200px);
	     -o-transform: rotateY(180deg) translateZ(200px);
	    		transform: rotateY(180deg) translateZ(200px);
}

#side3
{
  -webkit-transform: rotateY(-90deg) translateZ(200px);
	   -moz-transform: rotateY(-90deg) translateZ(200px);
	    -ms-transform: rotateY(-90deg) translateZ(200px);
	     -o-transform: rotateY(-90deg) translateZ(200px);
			    transform: rotateY(-90deg) translateZ(200px);
}

#side4
{
  -webkit-transform: translateZ(200px);
	   -moz-transform: translateZ(200px);
	    -ms-transform: translateZ(200px);
	     -o-transform: translateZ(200px);
			    transform: translateZ(200px);
}

#side5
{
  -webkit-transform: rotateY(90deg) translateZ(200px);
	   -moz-transform: rotateY(90deg) translateZ(200px);
	    -ms-transform: rotateY(90deg) translateZ(200px);
	     -o-transform: rotateY(90deg) translateZ(200px);
			    transform: rotateY(90deg) translateZ(200px);
}

#side6
{
  -webkit-transform: rotateX(-90deg) translateZ(200px);
	   -moz-transform: rotateX(-90deg) translateZ(200px);
	    -ms-transform: rotateX(-90deg) translateZ(200px);
	     -o-transform: rotateX(-90deg) translateZ(200px);
			    transform: rotateX(-90deg) translateZ(200px);
}

/************************************/
/************* CONTENU **************/
/************************************/

#moon
{
	height: 45px;
	opacity: 0;
	-webkit-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 -moz-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		   -o-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 			transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
	right: -110px;
	z-index: 101;
}

#sun
{
	filter: invert(0) drop-shadow(0 0 5px #6666);
	-webkit-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
		 -moz-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
		   -o-transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
		 			transition: all 2s ease-in-out, filter 1.5s linear 0.5s;
	height: 50px;
}

.content
{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	max-height: 100%;
	justify-content: center;
	overflow: hidden;
	padding: 3% 15%;
	width: 100%;
}

.content > div
{
	margin: auto;
	width: 95%;
}

.content.scrollHaut
{
	background-image: linear-gradient(to bottom, transparent 96%, #6666 104%);
}

.content.scrollBas
{
	background-image: linear-gradient(to bottom, #6666 -4%, transparent 4%);
}

.content.scrollMilieu
{
	background-image: linear-gradient(to bottom, #6666 -4%, transparent 4%, transparent 96%, #6666 104%);
}

#sign
{
	margin: 3%;
	width: 70%;
	-webkit-transition: filter 2s ease-in-out;
		 -moz-transition: filter 2s ease-in-out;
		   -o-transition: filter 2s ease-in-out;
		 			transition: filter 2s ease-in-out;
}

#fleche
{
	display: flex;
	flex-wrap: wrap;
	height: 6.66%;
	min-height: 30px;
	justify-content: center;
}

#fleche img
{
	cursor: pointer;
	height: 70%;
	-webkit-transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
     -moz-transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
       -o-transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
	    		transition: all 2s ease-in-out, height 0.3s ease-in-out, filter 0.3s ease-in-out;
	filter: drop-shadow(0 0 0 #666c) grayscale(100%);
}

#fleche img:hover
{
	height: 90%;
	filter: drop-shadow(0 15px 10px #666c) grayscale(100%);
}

.dev
{
	cursor: pointer;
	display: block;
	-webkit-transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
     -moz-transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
       -o-transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
		 			transition: all 2s ease-in-out, width 0.5s ease-in-out, transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.hidden
{
	width: 20px;
	transform: rotate(270deg);
  filter: drop-shadow(0 0 0 #666) grayscale(100%);
}

.shown
{
	width: 30px;
	transform: rotate(135deg);
  filter: drop-shadow(0px -3px 3px #666) grayscale(0%);
}

.detail
{
	height: auto;
	overflow: hidden;
	padding: 0 25px;
	-webkit-transition: height 0.5s ease-in-out;
     -moz-transition: height 0.5s ease-in-out;
       -o-transition: height 0.5s ease-in-out;
		 			transition: height 0.5s ease-in-out;
}

.detail a,
.detail p
{
	display: inline-block;
	text-align: center;
	width: 100%;
}

.detail img
{
	box-shadow: 0 0 10px #666;
	display: block;
	margin: 30px auto 15px;
	max-width: 80%;
}

.pdf
{
	cursor: pointer;
	background-image: url(../IMG/pdf.png);
	height: 20px;
	width: 20px;
}

.portfolio
{
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

div.site
{
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 10px #6666;
	height: 400px;
	margin: 25px;
	overflow: hidden;
	width: 400px;
}

#Alissa
{
	background-image: url(../IMG/Alissa.jpg);
}

#Inscription
{
	background-image: url(../IMG/Inscription.jpg);
}

#Musique
{
	background-image: url(../IMG/Musique.jpg);
}

div.site p
{
	align-items: center;
	background-color: #4008;
	box-sizing: border-box;
	color: #ddd;
	display: flex;
	height: 100%;
	justify-content: center;
	margin: 0;
	opacity: 0;
	padding: 15px;
	text-align: center;
	-webkit-transition: opacity 0.5s ease-in-out;
		 -moz-transition: opacity 0.5s ease-in-out;
		   -o-transition: opacity 0.5s ease-in-out;
		 			transition: opacity 0.5s ease-in-out;
	width: 100%;
}

div.site:hover p
{
	opacity: 1;
}

#contact
{
	margin: auto;
	text-align: left;
	width: 70%;
}

#contact td
{
	padding: 3px;
}

#contact td:last-child
{
	text-align: right;
}

#citation
{
	font-family: 'Italianno', cursive;
	text-align: center;
	text-indent: 0;
	font-size: 4vmin;
}

#citation2
{
	align-self: flex-end;
	font-family: 'Italianno', cursive;
	font-size: 3.5vmin;
	margin-bottom: 3%;
	margin-right: 5%;
	text-indent: 0;
}

#fin
{
	font-size: 1.5vmin;
	opacity: 0.666;
	text-align: center;
}

#toggleMentions
{
	cursor: pointer;
}

#toggleMentions:hover
{
	text-decoration: underline;
}

#mentions
{
  align-items: center;
	background-color: #f9f9f9;
	box-shadow: 0 0 10px #6666;
	display: none;
	flex-direction: column;
  height: 50%;
  justify-content: center;
  left: 25%;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 25%;
	-webkit-transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
		 -moz-transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
		   -o-transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
		 			transition: all 2s ease-in-out, opacity 0.5s ease-in-out;
  width: 50%;
}

#mentions.visible
{
	display: flex;
	opacity: 0.9;
}

#mentions h1
{
	font-size: 2.8vmin;
}

/*************************************/
/*************** MENU ****************/
/*************************************/

#menu
{
	background-color: white;
	bottom: 0;
	box-shadow: 0 0 10px #6666;
	box-sizing: border-box;
	height: 75px;
	overflow: hidden;
	padding-right: 15px;
	position: fixed;
	-webkit-transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
     -moz-transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
       -o-transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
	    		transition: background-color 2s ease-in-out, opacity 1s ease-in-out, top 0.5s ease-in-out;
	width: 100%;
}

#toggleMenu
{
	align-items: center;
	background-color: #ccc3;
	border: solid 1px #6666;
	box-shadow: 0 0 5px #6666;
	box-sizing: border-box;
	cursor: pointer;
	display: none;
	flex-direction: column;
	height: 42px;
	justify-content: space-around;
	left: 10px;
	padding: 5px;
	position: fixed;
	top: 10px;
	-webkit-transition: all 0.3s ease-in-out;
		 -moz-transition: all 0.3s ease-in-out;
			 -o-transition: all 0.3s ease-in-out;
					transition: all 0.3s ease-in-out;
	width: 42px;
}

#toggleMenu:hover
{
	background-color: #ccc1;
	border: solid 1px #800;
}

#toggleMenu:hover .hamburger
{
	background-color: #a00;
}

.hamburger
{
	background-color: #555;
	border-radius: 2px;
	height: 4px;
	-webkit-transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
     -moz-transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
       -o-transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
	    		transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
	-webkit-transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
     -moz-transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
       -o-transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
	    		transition: background-color 0.3s ease-in-out, transform 0.5s ease-in-out;
	width: 30px;
}

#hmbg1.cross
{
	-webkit-transform: rotateY(180deg) rotateZ(45deg) translate3d(7px, 7px, 0px);
		 -moz-transform: rotateY(180deg) rotateZ(45deg) translate3d(7px, 7px, 0px);
			 -o-transform: rotateY(180deg) rotateZ(45deg) translate3d(7px, 7px, 0px);
					transform: rotateY(180deg) rotateZ(45deg) translate3d(7px, 7px, 0px);
}

#hmbg2
{
	backface-visibility: hidden;
}

#hmbg2.cross
{
	-webkit-transform: rotateY(180deg);
		 -moz-transform: rotateY(180deg);
			 -o-transform: rotateY(180deg);
					transform: rotateY(180deg);
}

#hmbg3.cross
{
	-webkit-transform: rotateY(180deg) rotateZ(-45deg) translate3d(7px, -7px, 0px);
		 -moz-transform: rotateY(180deg) rotateZ(-45deg) translate3d(7px, -7px, 0px);
			 -o-transform: rotateY(180deg) rotateZ(-45deg) translate3d(7px, -7px, 0px);
					transform: rotateY(180deg) rotateZ(-45deg) translate3d(7px, -7px, 0px);
}

#pages
{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
	-webkit-transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
     -moz-transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
       -o-transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
	    		transition: background-color 2s ease-in-out, opacity 1s ease-in-out;
	width: 100%;
}

.chgmtPage
{
	align-items: center;
	background-color: #aaa3;
	border: solid 1px #aaaa;
	box-sizing: border-box;
	cursor: pointer;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 5px;
	padding: 15px;
	text-align: center;
	-webkit-transition: all 0.3s ease-in-out, border-image 0s;
     -moz-transition: all 0.3s ease-in-out, border-image 0s;
	     -o-transition: all 0.3s ease-in-out, border-image 0s;
 	    		transition: all 0.3s ease-in-out, border-image 0s;
	min-width: 50px;
}

.chgmtPage:hover
{
	background-color: #aaa1;
	border: solid 1px rgb(80,6,6);
	color: rgb(50,6,6);
}

.chgmtPage img
{
	filter: grayscale(100%);
	height: 30px;
	-webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
       -o-transition: all 0.3s ease-in-out;
	    		transition: all 0.3s ease-in-out;
}

.chgmtPage:hover img
{
	filter: grayscale(0%);
}

.pageActive
{
	background-color: #aaa1;
	border: solid 1px rgb(100,0,0);
	color: rgb(80,0,0);
}

.pageActive img
{
	filter: grayscale(0%);
}

#mode
{
	align-items: center;
	display: flex;
	height: 50px;
	position: fixed;
	right: 10px;
	top: 10px;
	z-index: 100;
}

#mode img
{
	cursor: pointer;
	position: relative;
}

#cookie
{
	background: #3331;
	border: solid 1px rgb(130, 0 ,0);
  box-sizing: border-box;
  left: 20px;
  max-width: 30%;
  padding: 11px 17px;
  position: fixed;
	top: 20px;
	-webkit-transition: all 2s ease-in-out, opacity 1s ease-in-out;
		 -moz-transition: all 2s ease-in-out, opacity 1s ease-in-out;
		   -o-transition: all 2s ease-in-out, opacity 1s ease-in-out;
		 			transition: all 2s ease-in-out, opacity 1s ease-in-out;
}

#cookies
{
	align-items: center;
	display: flex;
	justify-content: space-around;
	margin-top: 7px;
}

.cookies
{
	background-color: #aaa3;
	border: solid 1px #aaaa;
	cursor: pointer;
	flex: 1;
	margin: 5px;
	padding: 7px 13px;
	text-align: center;
}

.cookies:hover
{
	background-color: #aaa1;
	border: solid 1px rgb(100, 0 ,0);
	color: rgb(80, 0, 0);
}

/*************************************/
/************** SCROLL ***************/
/*************************************/

#scrollBar
{
	background-color: rgb(245, 245, 245);
	box-shadow: 0 0 5px #6666;
	box-sizing: border-box;
	cursor: pointer;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	opacity: 0;
	outline: none;
	overflow: hidden;
	right: 0;
	top: 0;
  -webkit-transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
	   -moz-transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
	     -o-transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
		    	transition: all 2s ease-in-out, opacity 1s ease-in-out, width 0s;
	width: 0px;
	z-index: 100;
}

#scrollBar:hover
{
	background-color: #eee;
	box-shadow: 0 0 5px #666a;
}

#scrollTrack
{
	background-color: #6666;
	box-sizing: border-box;
	height: 30px;
	margin: 0;
	padding: 0;
	position: absolute;
	-webkit-transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
		 -moz-transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
		   -o-transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
					transition: all 2s ease-in-out, top 0s, width 0s, height 1s;
	width: 10px;
}

#scrollBar:hover #scrollTrack
{
	background-color: #666c;
}



/******************************************************************************/
/*******************************   NIGHT MODE   *******************************/
/******************************************************************************/

/*************************************/
/*************   BASE   **************/
/*************************************/

html.night
{
	background: white;
}

body.night
{
	color: #ddd;
}

h1.night
{
	border-image: linear-gradient(to right, transparent, rgba(157,0,0,1), transparent) 1;
	text-shadow: 1px 1px 1px rgba(157,0,0,1);
}

h2.night
{
	color: rgb(149,0,0);
}

hr.night
{
	border-image: linear-gradient(to right, transparent, rgba(157,0,0,0.5), transparent) 1 ;
}

.sides.night
{
	background-color: #111;
	border: solid 3px #222;
}

/************************************/
/************* CONTENU **************/
/************************************/

#sun.night
{
	filter: invert(1) drop-shadow(0 0 5px #6666);
	-webkit-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 -moz-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		   -o-transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
		 			transition: all 2s ease-in-out, filter 0.5s linear 1.5s;
}

.content.night.scrollHaut
{
	background-image: linear-gradient(to bottom, transparent 96%, #cccc 104%);
}

.content.night.scrollBas
{
	background-image: linear-gradient(to bottom, #cccc -4%, transparent 4%);
}

.content.night.scrollMilieu
{
	background-image: linear-gradient(to bottom, #cccc -4%, transparent 4%, transparent 96%, #cccc 104%);
}

#sign.night
{
	margin: 3%;
	width: 70%;
	filter: invert(0.8);
}

#fleche.night img
{
	filter: drop-shadow(0 0 0 #dddc) grayscale(100%) invert(0.8);
}

#fleche.night img:hover
{
	filter: drop-shadow(0 15px 10px #dddc) grayscale(100%) invert(0.8);
}

.hidden.night
{
  filter: drop-shadow(0 0 0 #6666) grayscale(100%) invert(0.8);
}

.shown.night
{
  filter: drop-shadow(0px -3px 3px #6666) grayscale(0%);
}

.detail.night img
{
	box-shadow: 0 0 10px #6666;
}

#mentions.night
{
	background-color: #111;
}

/*************************************/
/*************** MENU ****************/
/*************************************/

#menu.night
{
	background-color: #111;
}

#toggleMenu.night
{
	background-color: #111;
}

#toggleMenu.night:hover
{
	background-color: #222;
}

#toggleMenu.night:hover .hamburger
{
	background-color: #800;
}

.hamburger.night
{
	background-color: #999;
}

.chgmtPage.night
{
	background-color: #3333;
	border: solid 1px #6666;
}

.chgmtPage:hover.night
{
	background-color: #3336;
	border: solid 1px rgb(157,0,0);
	color: rgb(211,0,0);
}

.chgmtPage.night img
{
	filter: grayscale(100%) invert(0.8) brightness(1);
}

.chgmtPage:hover.night img
{
	filter: grayscale(0%) invert(0) brightness(1.5);
}

.pageActive.night
{
	background-color: #3336;
	border: solid 1px rgb(157,0,0);
	color: rgb(211,0,0);
}

.pageActive.night img
{
	filter: grayscale(0%) invert(0) brightness(1.5);
}

.cookies.night
{
	background-color: #3333;
	border: solid 1px #6666;
}

.cookies.night:hover
{
	background-color: #3336;
	border: solid 1px rgb(157,0,0);
	color: rgb(211,0,0);
}

/*************************************/
/************** SCROLL ***************/
/*************************************/

#scrollBar.night
{
	background-color: #252525;
	box-shadow: 0 0 5px #ccc9;
}

#scrollBar.night:hover
{
	background-color: #333;
	box-shadow: 0 0 5px #cccc;
}

#scrollBar.night #scrollTrack
{
	background-color: #555;
}

#scrollBar.night:hover #scrollTrack
{
	background-color: #666;
}



@media all and (max-width: 900px), all and (orientation: portrait)
{

	/*************************************/
	/*************** MENU ****************/
	/*************************************/

	#menu
	{
		background-color: #fffd;
		bottom: auto;
		height: auto;
		padding: 0;
		top: -370px; /* 6 * (50 + 2 * 5) + 10 -> nb de page * (leur taille + 2 * leur padding) + box-shadox*/
	}

	#menu.oui
	{
		top: 0;
	}

	#toggleMenu
	{
		display: flex;
	}

	#pages
	{
		align-items: center;
		flex-direction: column;
	}

	.chgmtPage
	{
		background-color: transparent;
		background-image: linear-gradient(to right, transparent, #aaa3, transparent);
		border: none;
		border-bottom: solid 1px transparent;
		border-image: linear-gradient(to right, transparent, #aaaa, transparent) 1;
		border-top: solid 1px transparent;
		width: 100%;
	}

	.chgmtPage:hover,
	.pageActive
	{
		background-color: transparent;
		background-image: linear-gradient(to right, transparent, #aaa1, transparent);
		border: none;
		border-bottom: solid 1px transparent;
		border-image: linear-gradient(to right, transparent, rgb(100,0,0), transparent) 1;
		border-top: solid 1px transparent;
	}

	.content
	{
		padding-bottom: 5%;
	}



	/******************************************************************************/
	/*******************************   NIGHT MODE   *******************************/
	/******************************************************************************/

	/*************************************/
	/*************** MENU ****************/
	/*************************************/

	#menu.night
	{
		background-color: #111d;
	}

	.chgmtPage.night
	{
		background-image: linear-gradient(to right, transparent, #3336, transparent);
		border-image: linear-gradient(to right, transparent, #6666, transparent) 1;
	}

	.chgmtPage.night:hover,
	.pageActive.night
	{
		background-image: linear-gradient(to right, transparent, #3338, transparent);
		border-image: linear-gradient(to right, transparent, rgb(157,0,0), transparent) 1;
	}

	.chgmtPage.night:hover img,
	.pageActive.night img
	{
		filter: grayscale(0%) invert(0) brightness(2);
	}

	/* */

	body
	{
		font-size: 2vmax;
	}

	h1
	{
		font-size: 4.2vmax;
	}

	h2
	{
		font-size: 2vmax;
	}

	#citation
	{
		font-size: 4vmax;
	}

	#citation2
	{
		font-size: 3.5vmax;
	}

	#fin
	{
		font-size: 1.5vmax;
	}

	#mentions h1
	{
		font-size: 2.8vmax;
	}

	#cookie
	{
		max-width: none;
		left: 67px;
		right: 75px;
	}

}
