
#D3Cube
{
	position: static;
	transform: none;
}

.sides
{
  position: static;
  width: 100%;
}

#side1
{
  -webkit-transform: rotateX(0deg) translateZ(0px);
	   -moz-transform: rotateX(0deg) translateZ(0px);
	    -ms-transform: rotateX(0deg) translateZ(0px);
	     -o-transform: rotateX(0deg) translateZ(0px);
			    transform: rotateX(0deg) translateZ(0px);
}

#side2
{
  -webkit-transform: rotateY(0deg) translateZ(0px);
	   -moz-transform: rotateY(0deg) translateZ(0px);
	    -ms-transform: rotateY(0deg) translateZ(0px);
	     -o-transform: rotateY(0deg) translateZ(0px);
	    		transform: rotateY(0deg) translateZ(0px);
}

#side3
{
  -webkit-transform: rotateY(0deg) translateZ(0px);
	   -moz-transform: rotateY(0deg) translateZ(0px);
	    -ms-transform: rotateY(0deg) translateZ(0px);
	     -o-transform: rotateY(0deg) translateZ(0px);
			    transform: rotateY(0deg) translateZ(0px);
}

#side4
{
  -webkit-transform: translateZ(0px);
	   -moz-transform: translateZ(0px);
	    -ms-transform: translateZ(0px);
	     -o-transform: translateZ(0px);
			    transform: translateZ(0px);
}

#side5
{
  -webkit-transform: rotateY(0deg) translateZ(0px);
	   -moz-transform: rotateY(0deg) translateZ(0px);
	    -ms-transform: rotateY(0deg) translateZ(0px);
	     -o-transform: rotateY(0deg) translateZ(0px);
			    transform: rotateY(0deg) translateZ(0px);
}

#side6
{
  -webkit-transform: rotateX(0deg) translateZ(0px);
	   -moz-transform: rotateX(0deg) translateZ(0px);
	    -ms-transform: rotateX(0deg) translateZ(0px);
	     -o-transform: rotateX(0deg) translateZ(0px);
			    transform: rotateX(0deg) translateZ(0px);
}

#menu,
#scrollBar
{
  display : none;
}

#mentions
{
  display: block;
}
